:root {
  --color-secondary-500: 14 165 233;
  --color-tertiary-500: 99 102 241;
  --color-surface-50: 249 250 251;
  --color-surface-100: 243 244 246;
  --color-surface-200: 229 231 235;
  --color-surface-300: 209 213 219;
  --color-surface-400: 156 163 175;
  --color-surface-500: 107 114 128;
  --color-surface-600: 75 85 99;
  --color-surface-700: 55 65 81;
  --color-surface-800: 31 41 55;
  --color-surface-900: 17 24 39;

  --color-text-default: 209 212 225;
  --color-text-link: 220 234 255;
  --color-header-link: 162, 220, 255;
  --color-header-text: 255, 255, 255;
  --color-module-link: 125 188 226;
  --color-nav-link-active: var(--color-header-link);

  --section-header-bg: rgba(0, 0, 0, 0.5);
  --section-header-bg-filter: blur(10px);

  --section-bg: rgba(0, 0, 0, 0.05);
  --section-bg-filter: blur(10px);

  --topnav-height: 3.5rem;
}

* {
  scrollbar-gutter: stable;
}

html,
body {
  /* scrollbar-color: rgba(255, 255, 255, 0.1) rgba(0, 0, 0, 0.05); */
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  padding: 0px;
  margin: 0px;
  width: 100vw;
}

html {
  background-color: rgb(var(--color-surface-900));
  background-image:
    radial-gradient(
      at 50% 0%,
      rgba(var(--color-secondary-500) / 0.18) 0px,
      transparent 75%
    ),
    radial-gradient(
      at 100% 0%,
      rgba(var(--color-tertiary-500) / 0.18) 0px,
      transparent 50%
    );
  background-size: cover;
  background-attachment: fixed;
}

body {
  background: transparent;
}

a,
a:active {
  color: rgb(var(--color-text-link));
  text-decoration: none;
}

body {
  color: rgb(var(--color-text-default));
  background-repeat: no-repeat;
  background-size: 100% 100%;

  padding: 0px;
}

/* Main Block Colors */
nav {
  background-color: rgb(var(--color-surface-800));
  padding: 0.25rem;
  /* border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem; */
}

section {
  background: var(--section-bg);
  backdrop-filter: var(--section-bg-filter);
}

#main {
  width: calc(100vw - 16rem);
}

/* Block Styling */
h4.name {
  background-color: rgb(var(--color-surface-800));
  border-color: rgb(var(--color-surface-700));
  border-radius: 0.5rem;
  box-shadow: none;
}

section header h2,
article .container-overview h2,
article h3.subsection-title {
  position: sticky;
  top: calc(var(--topnav-height) + 1rem);
  border-radius: 0.5rem;
  background: var(--section-header-bg);
  backdrop-filter: var(--section-header-bg-filter);
  z-index: 10;
}

/*  */

section {
  padding: 0 1rem;
  /* 0 0 0 30px */
}

section > * > * {
  /* padding: 0.5rem; */
}

table {
  border-color: rgb(var(--color-surface-700));
}

thead tr {
  border-bottom: 1px solid rgb(var(--color-surface-700));
  background-color: rgb(var(--color-surface-700));
}

.params td {
  border-top: 1px solid rgb(var(--color-surface-700));
  background-color: rgb(var(--color-surface-600) / 0.1);
}

.details {
  margin-left: 2rem;
}

/* TEXT */
h1,
h2,
h3,
nav h3,
h4,
h5,
h6 {
  color: rgb(var(--color-header-text));
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
  margin: 1.5em 0 0.3em;
  padding: 0.25rem 1rem;
}

nav a:hover,
nav a:active {
  color: rgb(var(--color-header-link)) !important;
}

nav > h2 > a {
  color: rgb(var(--color-header-link)) !important;
}

nav > ul > li > a {
  color: rgb(var(--color-module-link)) !important;
}

nav ul ul a {
  color: rgb(var(--color-text-link)) !important;
}

table tr td code {
  border-radius: 0.5rem;
  background: rgba(244, 244, 244, 0.8);
}

/* , .params .name, .props .name, .name code */
.params td {
  color: rgb(var(--color-header-text));
}

.navRight {
  /* height: calc(100vh - var(--topnav-height)); */
  overflow: auto;
  position: sticky;
  /* top: var(--topnav-height); */
}

/*  */
/*  */

/* New Layout Configs */
.container > header {
  /* Page HEADER */
  background: var(--section-header-bg);
  backdrop-filter: var(--section-header-bg-filter);
  height: var(--topnav-height);
  position: sticky;
  top: 0px;
  z-index: 10;
  padding: 0.5rem 1rem;
}

nav {
  height: calc(100vh - var(--topnav-height));
  overflow-x: hidden;
  position: sticky;
  top: var(--topnav-height);
}

article > h4.name {
  position: sticky;
  top: calc(var(--topnav-height) + 3.5rem);
  z-index: 8;
}

/*  */
/*  */

/* Mini Util Classes */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.rounded-xl {
  border-radius: 0.75rem /* 12px */;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.select-none {
  user-select: none;
}

.pointer-events-none {
  pointer-events: none;
}

.text-xs {
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
}

.text-sm {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}

.text-lg {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
}

/* CODE COLORS */
.signature {
  color: #fc83ff;
}

.type-signature .type-signature-async {
  color: #ca79ca;
}

span.param-type,
.params td .param-type,
.param-type dd {
  color: rgb(197, 207, 20);
  font-family: Consolas, Monaco, "Andale Mono", monospace;
}

.signature-param,
.type-part {
  position: relative;
}

.type-part {
  position: relative;
}

.type-part::before {
  content: "";
  color: inherit;
  /*  background-color: currentColor;  Inherits text color */
  position: absolute;
  left: 0px;
  width: 24px;
  height: 24px;
}

.type-part.firestore,
.type-part.req,
.type-part.res,
.type-part.axiosError,
.type-part.next,
.type-part.firebaseAuth,
.type-part.firebase,
.type-part.user {
  padding-left: 1.5rem;
}

.type-part.firestore::before,
.type-part.req::before,
.type-part.res::before,
.type-part.axiosError::before,
.type-part.next::before,
.type-part.firebaseAuth::before,
.type-part.firebase::before,
.type-part.user::before {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Types */
.type-part.firestore::before,
.type-part.firebaseAuth::before,
.type-part.firebase::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23ff9100' d='M11.84 29.2c1.17.47 2.44.75 3.78.8c1.81.06 3.52-.31 5.06-1.02c-1.84-.72-3.51-1.78-4.93-3.1a8.5 8.5 0 0 1-3.9 3.32Z'/%3E%3Cpath fill='%23ffc400' d='M15.74 25.88c-3.25-3-5.22-7.35-5.05-12.12c0-.15.01-.31.02-.46a8.5 8.5 0 0 0-4.39.05c-.87 1.52-1.39 3.26-1.46 5.13c-.17 4.82 2.75 9.03 6.98 10.73a8.37 8.37 0 0 0 3.9-3.32Z'/%3E%3Cpath fill='%23ff9100' d='M15.74 25.88a8.4 8.4 0 0 0 1.27-4.15c.14-4.02-2.56-7.47-6.3-8.44c0 .15-.02.31-.02.46a15.69 15.69 0 0 0 5.05 12.12Z'/%3E%3Cpath fill='%23dd2c00' d='M16.59 2c-2.13 1.7-3.81 3.95-4.83 6.54a15.6 15.6 0 0 0-1.05 4.75a8.41 8.41 0 0 1 6.3 8.44a8.27 8.27 0 0 1-1.27 4.15a15.8 15.8 0 0 0 4.93 3.1c3.7-1.71 6.32-5.38 6.47-9.73c.1-2.82-.98-5.33-2.51-7.45c-1.62-2.24-8.04-9.79-8.04-9.79Z'/%3E%3C/svg%3E");
}

.type-part.req::before,
.type-part.res::before,
.type-part.next::before,
.type-part.axiosError::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><path fill="%235a29e4" d="m 34,43.977569 27.379067,-22.912155 0.0385,91.494586 -9.3189,7.74007 -0.15403,-76.091455 z" /><path fill="%235a29e4" d="M 96.961687,82.322502 69.582627,105.23466 69.544127,13.74007 78.863017,6 l 0.15403,76.091452 z" /></svg>');
}

.type-part.user::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80'%3E%3Cg fill='none' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%23f2c94c' stroke='%23f2c94c' stroke-linecap='square' d='M60 70H20a4 4 0 0 1-4-4a15.87 15.87 0 0 1 10.3-14.86l1.23-.462a35.53 35.53 0 0 1 24.94 0l1.23.462A15.87 15.87 0 0 1 64 66a4 4 0 0 1-4 4Z'/%3E%3Cpath fill='%23f2994a' stroke='%23f2994a' stroke-linecap='round' d='M33.902 38.867a13.347 13.347 0 0 0 19.15-9.08l.223-1.044a14.2 14.2 0 0 0-2.51-11.466l-.36-.48a12.992 12.992 0 0 0-20.81 0l-.36.48a14.2 14.2 0 0 0-2.51 11.465l.223 1.046a13.35 13.35 0 0 0 6.953 9.08'/%3E%3C/g%3E%3C/svg%3E");
}
